* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: system-ui;
}

.container {
  position: relative;
  border: 1px solid red;
}

#registros {
  width: 100%;
  position: absolute;
  top: 0;
}

#alertDeleteProduct {
  position: absolute;
  bottom: 0;
  right: 5px;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
}

thead {
  border-bottom: 2px solid black;
}